#!/bin/bash
DIR="$(dirname "$(readlink -f "$0")")"

. /etc/aktos/service-runner/tmux-launch
launch-service $(calc-session-name "$0")

# run commands in tmux session
run-in-tmux "top"
run-in-tmux "ls -la"
